.first-slide{
    width:100%;
    position:fixed;
    height:100%;
    z-index:100;
    background:rgb(26, 29, 26);
    
    
}
.first-slide h3{
  margin:20% 10%;
  text-align: center;
  color:white;
  font-size: 4em;
  font-weight:900;
}
.first-slide h3 div{
   display:inline-flex;
}
.second{
    width:100%;
    position:fixed;
    height:100%;
    z-index:99;
    background:#7be44eb2;
    animation-delay: 0.5s;
}
.third{
    width:100%;
    position:fixed;
    height:100%;
    z-index:98;
    background:rgb(255, 115, 7);
    animation-delay:1s;
}
.fourth{
    width:100%;
    position:fixed;
    height:100%;
    z-index:97;
    background:#bb9167;
    animation-delay:2s;
}
.fifth{
    width:100%;
    position:fixed;
    height:100%;
    z-index:96;
    background:rgb(255, 115, 7);
    animation-delay:3s;
}
@media (max-width:565px){
    .first-slide h3{
        margin:50% 5% 0% 5%;
        font-size:2em;
    }
}
