@media (max-width: 575px) {
    .menu_box{
        display: none;
        width:100%;
        z-index: 30;
        height:100vh;
        backdrop-filter: blur(4px);
        position:fixed;
        .wrap{
            padding:20px 30px;
            width:80%;
            border-radius:13px;
            margin:50px auto;
            background:orange;
            .menu_box_item{
                ul{
                    li{
                        margin:10px 0;
                        color: white;
                    }
                }
            }
        }
    }
    .products{
        h3{
            text-align: center;
        }
        width:100%;
        margin:0 auto;
        
        .oloke_img{
            width:100%;
    
        }
        .banner{
            width:93%;
            background: white;
            transform: translateY(-30%);
            box-shadow: 0px 0px 10px 1px #c1c1c1;;
            margin: 0 auto;
            padding:8px 0px;
            text-align: center;
            h2{
                color:orange;
            }
        }
        .items{
            width:93%;
            margin: 0 auto;
            .wrap{
                margin:20px 0px;
                text-align: center;
                box-shadow: 0px 0px 10px 1px #c1c1c1;;
                padding:20px;
                .img{
                    width:100%;
                    img{
                        width:100%;
                        transition: 0.5s;
                    }
                }
                .item_info{
                    h2,p{
                        margin:10px 0px;
                    }
                    p{
                        font-size: 0.9em;
                    }
                }
                .buy{
                    margin:10px 0px;
                    button{
                        width:auto;
                        padding:8px 15px;
                        color:green;
                        background:white;
                        text-align: centers;
                        border: 1px solid grey;
                        border-radius:4px;
                    }
                }
            }
        }
        .more {
            text-align:center;
            button{
                color:rgb(24, 172, 24);
                font-size:1em;
                text-transform: uppercase;
                padding:9 20px ;
                background: white;
            }
            }
    }

    .favourites{
         padding:30px 0px;
        h3{
            text-align: center;
            margin-top:20px;
            font-size: 1.5em;
        }
        width:100%;
        margin:0 auto;

        .items{
            width:93%;
            margin: 0 auto;
            .wrap{
                margin:20px 0px;
                box-shadow: 0px 0px 10px 1px #c1c1c1;;
                padding:20px;
            }
            .img{
                width:100%;
                img{
                    width:100%;
                }
            }
            p{
                margin:5px 0px;
            }
            .name{
                font-size: 1.5em
            }
            .price{
                color: green;
            }
            .info{
                line-height: normal;
                font-size :0.9em;;
            }
            .add{
                margin:20px 0;
                color: orange;
                button{
                    width:auto;
                    padding:8px 15px;
                    background:white;
                    text-align: center;
                    border: 1px solid grey;
                    border-radius:4px;
                }
            }
        }
    }

    .accesories{
        width:93%;
        margin: 0 auto;

        .wrap{
            margin:20px auto;
            width:95%;
            .img{
                width:100%;
            }
            img{
                border-radius: 10px;
                filter:invert(20%);
                
            }
            p{
                transform: translateY(-50vh);
                padding:20px;
                line-height: 30px;
                font-size: 1.5em;
                font-family: 'Dancing Script', cursive;
                font-weight: 850;
                color:white;
            }
        }
    }
    footer{
        background:rgba(186, 248, 186, 0.898);
        background-size: cover;
        .wrap{
            width:95%;
            padding:5% 10px;
            margin:0px auto;
            .sideBYside{
                display:flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    a{
                        text-decoration: none;
                    }
                  li{
                      list-style-type: none;
                      margin:10px 0px;
                      font-size:0.9em;
                      color:rgb(0, 0, 0);
                      a{
                          text-decoration: none;
                          color:rgb(0, 0, 0);
                      }
                     
                  }
                }
            }
            .socials{
                margin:5% 0px;
                text-align: center;
                i{
                    font-size:1.2em;
           
                    padding:0px 4%;
                    color:rgb(0, 0, 0);
                }
                a{
                    text-decoration: none;
                }
            }
            .credits{
                text-align: center;
                font-size:0.9em;
                color:rgb(0, 0, 0);
                a{
                    color: orange;
                }
            }
        }
    }
}
@media (min-width:576px){
    .menu_box{
        display: none;
        width:100%;
        z-index: 30;
        height:100vh;
        backdrop-filter: blur(4px);
        position:fixed;
        .wrap{
            padding:20px 30px;
            width:80%;
            border-radius:13px;
            margin:50px auto;
            background:orange;
            .menu_box_item{
                ul{
                    li{
                        margin:10px 0;
                        color: white;
                    }
                }
            }
        }
    }
    .products{
        h3{
            text-align: center;
        }
        width:100%;
        margin: 0 auto;
        .oloke_img{
            width:100%;
        }
        .banner{
           margin:0 50px;
            background: white;
            transform: translateY(-30%);
            box-shadow: 0px 0px 10px 1px #c1c1c1;;
            padding:8px 0px;
            text-align: center;
            h2{
                color:orange;
            }
        }
        .items{
            display: grid;
            width:95%;
            margin: 0 auto;
            grid-gap: 20px;
            grid-template-columns:1fr 1fr;
            .wrap{
                text-align: center;
                box-shadow: 0px 0px 10px 1px #c1c1c1;;
                padding:10px;
                .item_info{
                    h2{
                        font-size: 2em;
                    }
                    h2,p{
                        margin:10px 0px;
                    }
                    p{
                        font-size: 0.9em;
                    }
                }
                .buy{
                    margin:10px 0px;
                    button{
                        width:auto;
                        padding:8px 15px;
                        color:green;
                        background:white;
                        text-align: center;
                        border: 1px solid grey;
                        border-radius:4px;
                    }
                }
            }
            
        }

        .more {
            text-align:center;
            margin: 25px 0px;
            button{
                color:rgb(24, 172, 24);
                font-size:1em;
                text-transform: uppercase;
                padding:13px 20px ;
                border: 1px solid grey;
                border-radius:4px;
                background: white;
            }
            }
    }
    .favourites{
        width:100%;
        margin:0 auto;
        padding:30px 0px;
        h3{
            text-align: center;
            margin:20px;
            font-size: 1.5em;
        }
        .items{
            display: grid;
            width:95%;
            margin: 0 auto;
            grid-gap: 20px;
            grid-template-columns:1fr 1fr;
            .wrap{
                box-shadow: 0px 0px 10px 1px #c1c1c1;;
                padding:20px;
            }.img{
                width:100%;
                img{
                    width:100%;
                }
            }
        }
    }
}