
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 280px) and (max-width: 599px) {
     .slider_section{
         margin-top:10%;
     }
    .padding_dd {padding: 0px 20px;};
    .text-bg span{
        margin:10px 0;
    }
    .main-menu{
        display: none;
    }

}
 @media (min-width: 1200px) and (max-width: 1500px) {
    .logo {
   padding-bottom: 6px;
     margin-top: 0px;
}
    .text-bg h1{
        font-size: 66px;
    }
}
 @media (min-width: 992px) and (max-width: 1199px) {
      .mean-last {display: none !important;}
      .logo {
   padding-bottom: 6px;
    
}
    .main-menu ul > li a {
        padding: 11px 13px;
       font-size: 16px;
    }
     
     .text-bg h1 {
        
         font-size: 43px;
         line-height: 54px;
         padding-bottom: 10px;
    }
     .text-bg span {
        padding-bottom: 13px;
    }
     .submit {
        padding: 17px 0px;
         max-width: 231px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
    .logo {
   padding-bottom: 6px;
    
}
    .text-bg h1 {
        font-size: 55px;
       line-height: 73px
    }
    .margin_top span {top: 44%;}
}

 @media (min-width: 576px) and (max-width: 767px) {
    .slider_section {padding: 50px 0;}
    .logo {
 
    margin-top: 0px;

}
.mean-container .mean-bar {margin-top: 7px;}
   .header {background: #efefef; padding: 20px 0px 20px 0px;}
  .menu-area {float: inherit;}
     .text-bg h1 {padding-top: 0px;}
     .text-img {
        padding-top: 30px;
    }
    .Search_btn {
        font-size: 18px;
        max-width: 191px;
    }
   .margin_top span {top: 44%;}
 
    .margin_top {margin-top: 30px;}
    .testimonial_cont {padding: 23px 30px;}
    .cross_inner h3 {
        padding-left: 0px;
padding-top: 15px;
padding-bottom: 15px;
    }
    .testimonial_cont p {
        padding-left: 0px;
font-size: 16px;
line-height: 20px;}
     ul.top_icon li a {
        padding: 0px 13px;
    }
   
}
 @media (max-width: 575px) {
    .header  .flex-item{
        display: flex;
        width:93%;
        margin:0 auto;
        justify-content: space-between;
        align-items: center;
    }
    #wave_header{
        margin-top:-5%;
        z-index:-10;
    }
    .menu-area {
    float: inherit;
}
     .header {
         padding: 5px 0px 0px 0px;
         background: rgb(243, 235, 221);
     }
    .logo_section{
        z-index:10;
    }
    .logo img{
        width:60px;
    }
.slider_section {
    padding: 10px 0px 40px 0px;
    margin-top: 0px;
}
   .text-bg span {
        font-size: 30px;
       line-height: 36px;
   }

   .text-bg h1 {
        padding-bottom: 15px;
        font-size: 39px;
    line-height: 52px;
   }

  .text-bg p {
    font-size: 16px;
   line-height: 24px;
  }

.text-bg a {
    margin-right: 4px;
    font-size: 13px;
    max-width: 104px;
}
.images_box {
    margin: 30px 0;
}

}
