 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 @import url(preloader.css);
 @import url(products.css);

 .logo {
     float: left;
     
     padding-bottom: 6px;
}
.logo img{
  z-index:1000;
    width:100%;
}
 .header {
   
     z-index: 999;
     width: 100%;
     padding: 20px 30px 20px 30px;
     background: rgb(243, 235, 221);
}
footer{
    background: rgb(243, 235, 221);
}
 .text-bg {text-align: left;}
  .text-bg span {
      transition: ease-in 0.5s ;
       font-size: 31px;
       font-weight: 500;
    line-height: 41px;
    color: #020500;
    font-family: 'Dancing Script', cursive;
  }
 .text-bg h1 {
    color: orange;
padding-top: 10px;
font-family: 'Poppins', sans-serif;
font-size: 61px;
padding-bottom: 30px;
letter-spacing: 1px;
transition: ease-in 0.5s ;
font-weight: 500;
}
 .text-bg p {
     font-size: 18px;
     display: block;
     color: #020500;
     transition: ease-in 0.5s ;
     line-height: 32px;
     padding-bottom: 30px;
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
}
 .text-bg a {
     font-size: 16px;
     border-radius: 6px;
border:1px solid grey;
background-color:transparent;
color: #428713;
padding: 9px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;

margin-right: 10px;
 }
 .text-bg a:hover {
     background-color: #428713;
     border: #428713 solid 1px;
    color: #fff;
    transition:0.3s;
    transform: translateY(-12px);
}

.carousel-caption {position: inherit;}
.carousel-indicators .active {
    background-color: #1a1b19;
}
.carousel-indicators li {
    width: 15px; height: 15px; border-radius: 10px; background: #747474; 
}
.padding_dd {padding: 0px 50px;}